[user]
	email = samuherekbiz@gmail.com
	name = Sam Uherek

[init]
    defaultBranch = main

[core]
    pager = delta

[delta]
    features = hellow
    line-numbers = true
    side-by-side = true

; [delta "hellow"]
;     commit-decoration-style = bold box ul
;     dark = true
;     commit-style = "#949494"
;     ; file-style = bold
;     syntax-theme = Nord
;     hunk-header-decoration-style = "#022b45" ul
;     hunk-header-file-style = "#999999"
;     hunk-header-line-number-style = bold "#003300"
;     hunk-header-style = file syntax
;     line-numbers = true
;     line-numbers-left-style = "#949494"
;     line-numbers-right-style = "#949494"
;     line-numbers-left-format = "{nm:>2}|"
;     line-numbers-right-format = "{np:>3} "
;     line-numbers-plus-style = "#54c047"
;     line-numbers-minus-style = bold "#591102"
;     plus-style = "#54c047"
;     plus-emph-style = bold "#54c047"
;     plus-non-emph-style = dim "#54c047"
;     minus-style = normal "#591102"
;     minus-emph-style = normal "#591102"
;     minus-non-emph-style = bold "#591102"
;     blame-code-style = omit
;     blame-format = "{author:<18} {commit:<6} {timestamp:<15}"
;     blame-palette = "#000000" "#343434"

[delta "hellow"]
    commit-style                  = omit
    dark                          = true
    file-style                    = 3
    file-decoration-style         = none
    line-numbers                  = true
    line-numbers-left-style       = 0
    line-numbers-right-style      = 0
    line-numbers-left-format      = " {nm:>2}  "
    line-numbers-right-format     = " {np:>4}  "
    line-numbers-plus-style       = 2
    line-numbers-minus-style      = 1
    hunk-header-style             = omit
    minus-style                   = 1
    minus-non-emph-style          = 15
    minus-emph-style              = 1
    minus-empty-line-marker-style = 1
    zero-style                    = 8
    plus-style                    = 2
    plus-non-emph-style           = 15
    plus-emph-style               = 2
    grep-file-style               = 34
    grep-line-number-style        = 34
    whitespace-error-style        = 41
    blame-code-style              = omit
    true-color                    = never
    file-modified-label           = changed:
    right-arrow                   = >
    hyperlinks                    = false
    keep-plus-minus-markers       = true
    diff-stat-align-width         = 10
    syntax-theme                  = none
    width                         = variable

